<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="src/style.css">
    <title>BoolZapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="leftCol">
                <div class="user">
                    <div class="leftUser">
                        <img src="img/avatar_2.jpg" alt="avatar 2">
                        <p>Agostino</p>
                    </div>
                    <div class="rightUser">
                        <i class="fa-solid fa-circle-notch cursor"></i>
                        <i class="fa-solid fa-message cursor"></i>
                        <i class="fa-solid fa-ellipsis-vertical cursor"></i>
                    </div>
                </div>
                <div class="notification">
                    <div class="bell"><i class="fa-solid fa-bell-slash cursor"></i></div>
                    <div class="sideBell">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="filter">
                    <div class="search"><i class="fa-solid fa-magnifying-glass cursor"></i></div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchText" @keyup="filterContact">
                </div>
                <!-- Sezione Contatti -->
                <div class="contacts">
                    <div class=" cursor" v-for="(contact, index) in contacts" :key="index" :class="{'active' : activeContactIndex === index}" @click="activeChat(index)">
                        <div v-if="contact.visible" class="contact">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="'avatar' + contact.avatar">
                            <div class="contactInfo">
                                <h1>{{contact.name}}<span class="date">{{lastAccess()}}</span></h1>
                                <p>{{lastMessage(index)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fine Sezione Contatti -->
            </div>
            <div class="rightCol">
                <div class="user">
                    <div class="leftUser">
                        <img :src="'img/avatar' + contacts[activeContactIndex].avatar + '.jpg'" :alt="'avatar' + contacts[activeContactIndex].avatar">
                        <div class="sideBell">
                            <p>{{contacts[activeContactIndex].name}}</p>
                            <p>Ultimo accesso: {{lastAccess()}}</p>
                        </div>
                    </div>
                    <div class="rightUser">
                        <i class="fa-solid fa-magnifying-glass cursor"></i>
                        <i class="fa-solid fa-paperclip cursor"></i>
                        <i class="fa-solid fa-ellipsis-vertical cursor"></i>
                    </div>
                </div>
                <!-- Sezione Messaggi -->
                <div class="messageArea">
                    <div class="messageContainer">
                        <div class="message" v-for="(messaggio, index) in contacts[activeContactIndex]?.messages" :class="{'m-user' : messaggio.status === 'sent'}">
                            <i class="fa-solid fa-chevron-down down" @click="showMenu(activeContactIndex, index)"></i>
                            <ul class="dropMenu" :class="{'d-block' : messaggio.display}">
                                <li>Aggiungi ai preferiti</li>
                                <li>Copia</li>
                                <li @click="erase(index)" class="cursor">Elimina il messaggio</li>
                            </ul>
                            <p>{{messaggio.message}}</p>
                            <span class="time">{{messaggio.date}}</span>
                        </div>
                    </div>
                </div>
                <!-- Fine Sezione Messaggi -->
                <div class="textArea">
                    <i class="fa-solid fa-face-smile cursor"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="message" @keyup.enter="sendMessage">
                    <i class="fa-solid fa-microphone cursor"></i>
                </div>
            </div>
        </div>

    </div>

    <script src="src/script.js"></script>
</body>
</html>