* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-head: #EAEAEA;
    --bg-foot: #F3EEEA;
    --bg-my-message: #D5F9BA;
    --bg-your-message: #FFF;
    --bg-notification: #8EDAFC;
    --bg-filter: #FAFAFA;
    --bg-contact-hover: #E9EBEB;
    --bg-contact-active: #D6D6D6;
    --text-icon: #B1B1B1;
}

.cursor {
    cursor: pointer;
}

#app {
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(218,219,212,1) 15%, rgba(218,219,212,1) 100%);
    font-family: 'lato', 'sans-serif';
}

.container {
    width: 80%;
    height: 95vh;
    display: flex;
    background-color: var(--bg-your-message);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* left column */
.leftCol {
    width: 35%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid var(--text-icon);
}

.leftCol img {
    border-radius: 50%;
    width: 40px;
}

/* USER */
.user {
    width: 100%;
    background-color: var(--bg-head);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.leftUser {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rightUser {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rightUser i {
    color: var(--text-icon);
    padding: 0 10px;
}

/* NOTIFICATION */
.notification {
    width: 100%;
    background-color: var(--bg-notification);
    display: flex;
    align-items: center;
}

.bell {
    width: 40px;
    height: 40px;
    margin: 15px 5px 15px 20px;
    background-color: var(--bg-your-message);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell i {
    color: var(--bg-notification);
}

.sideBell p{
    font-size: 14px;
}

.sideBell a{
    font-size: 12px;
    color: var(--text-icon);
}


/* FILTER */
.filter {
    width: 100%;
    background-color: var(--bg-filter);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.filter .search {
    width: 15%;
    height: 30px;
    background-color: var(--bg-your-message);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-icon);
    color: var(--text-icon);
}

.filter input {
    width: 85%;
    height: 30px;
    font-size: 12px;
    border: 1px solid var(--text-icon);
    padding: 5px;
}

/* CHAT */
.contacts {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.contact {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 15px;
    position: relative;
}

.contact:hover {
    background-color: var(--bg-contact-hover);
}

.contact .contactInfo{
    padding-left: 10px;
    font-weight: 400;
}

.contact .contactInfo h1{
    font-size: 16px;
    font-weight: 300;
}

.contact .contactInfo p{
    font-size: 12px;
    color: var(--text-icon);
    font-weight: 300;
}

.active {
    background-color: var(--bg-contact-active);
}

.date {
    font-size: 10px;
    color: var(--text-icon);
    position: absolute;
    right: 5px;
}

/* right column */
.rightCol {
    width: 65%;
    height: 100%;
}

.rightCol .leftUser img {
    border-radius: 50%;
    width: 40px;
}

.rightCol .leftUser p:nth-child(2) {
    color: var(--text-icon);
}

/* MESSAGEAREA */
.messageArea {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.messageContainer {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
}

.message {
    width: 40%;
    background-color: var(--bg-your-message);
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 0 0 15px;
    position: relative;
}

.m-user {
    align-self: flex-end;
    background-color: var(--bg-my-message);
}

.message p {
    width: 80%;
    font-size: 12px;
}

.message .time {
    width: 100%;
    font-size: 10px;
    color: var(--text-icon);
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

.message .down {
    position: absolute;
    right: 1em;
    display: none;
}

.message:hover .down {
    display: block;
}

.dropMenu {
    display: none;
    position: absolute;
    right: -2em;
    top: 2em;
    background-color: var(--bg-your-message);
    border-radius: 10px;
    z-index: 2;
    list-style-type: none;
}

.dropMenu li {
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}

.dropMenu li:hover {
    background-color: var(--bg-contact-hover);
}

.d-block {
    display: block;
}

/* TEXTAREA */
.textArea {
    width: 100%;
    background-color: var(--bg-foot);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.textArea i {
    width: 10%;
    text-align: center;
    color: var(--text-icon);
    font-size: 20px;
}

.textArea input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}