* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

#app {
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(218,219,212,1) 15%, rgba(218,219,212,1) 100%);
    
}

.container {
    width: 80%;
    height: 95vh;
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* left column */
.leftCol {
    width: 35%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid #D6D6D6;
}

.leftCol img {
    border-radius: 50%;
    width: 40px;
}

/* USER */
.user {
    width: 100%;
    background-color: #FAFAFA;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.leftUser {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rigthUser {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.rigthUser i {
    color: #B1B1B1;
    padding: 0 10px;
}

/* NOTIFICATION */
.notification {
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.bell {
    width: 40px;
    height: 40px;
    margin: 15px 5px 15px 20px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell i {
    color: #8EDAFC;
}

.sideBell p{
    font-size: 14px;
}

.sideBell a{
    font-size: 12px;
    color: #6B90A9;
}


/* FILTER */
.filter {
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.filter .search {
    width: 15%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    color: #D6D6D6;
}

.filter input {
    width: 85%;
    height: 30px;
    font-size: 12px;
    border: 1px solid #D6D6D6;
    padding: 5px;
}

/* CHAT */
.user-friends {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.chat {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 15px;
}

.chat .sideAvatar{
    padding-left: 10px;
    font-weight: 400;
}

.chat .sideAvatar h1{
    font-size: 16px;
    font-weight: 300;
}

.chat .sideAvatar p{
    font-size: 12px;
    color: #B1B1B1;
}

.active {
    background-color: #E9EBEB;
}

/* rigth column */
.rigthCol {
    width: 65%;
    height: 100%;
}

.rigthCol .leftUser img {
    border-radius: 50%;
    width: 40px;
}

.rigthCol .leftUser p:nth-child(2) {
    color: #B1B1B1;
}

/* MESSAGEAREA */
.messageArea {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.messageContainer {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
}

.message {
    width: 40%;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 0 0 15px;
}

.m-user {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.message p {
    width: 80%;
    font-size: 12px;
}

.message span {
    width: 100%;
    font-size: 10px;
    color: #B1B1B1;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

/* TEXTAREA */
.textArea {
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.textArea i {
    width: 10%;
    text-align: center;
    color: #6B7376;
    font-size: 20px;
}

.textArea input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}